.upcoming .toggle
{
	text-decoration: none;
	border: 1px solid #AAA;
	font-size: smaller;
	padding-left: 2px;
	padding-right: 2px;
	color: #AAA;
	cursor: pointer;
	cursor: hand;
}

span.title
{
	margin-left: .5em;
}

.upcoming .evtcat .evts .evt
{
	font-size: smaller;
}

.upcoming .evtcat .evts .evt .detail
{
	border-left: 1px solid #AAA;
	margin-left: .5em;
	padding-left: .5em;
	margin-bottom: 3px;
	text-indent: 0px;
	font-size: smaller;
}

.upcoming .evtcat .evts .evt .detail strong
{
	margin-right: .5em;
}

.upcoming .evtcat .caption,
{
	font-weight: bolder;
}

.upcoming .evtcat .evts
{
	border-top: 1px solid #AAA;
}

.upcoming .evtcat .range
{
	padding-left: .8em;
	font-weight: normal;
	font-variant: small-caps;
	font-size: smaller;
	color: silver;
}

.upcoming .evtcat .evt .detail
{
	font-size: smaller;
	padding-left: .5em;
}

.upcoming .prog
{
	width: 100px;
	height: 5px; 
	background: #ddd; 
	border: solid black 1px;
}

.upcoming .prog .bar
{
	height: 100%; 
	background: #AAA;
}

