.upcoming .prog
{
	float: left; width: 100%;
}
.upcoming .evts
{
	float: left; width: 100%;
}

.upcoming .toggle
{
	text-decoration: none;
	border: 1px solid #AAA;
	font-size: smaller;
	padding-left: 2px;
	padding-right: 2px;
	color: #AAA;
	cursor: pointer;
	cursor: hand;
}

span.title
{
	margin-left: .5em;
}

div.evt_detail
{
	border-left: 1px solid #AAA;
	margin-left: 7px;
	padding-left: 7px;
	margin-bottom: 3px;
	width: 100%;
	text-indent: 0px;
	font-size: smaller;
}

.upcoming .evtcat .caption
{
	font-weight: bolder;
}

.upcoming .evtcat .evts
{
	border-top: 1px solid #AAA;
}

.upcoming .evtcat .range
{
	padding-left: .8em;
	font-weight: normal;
	font-variant: small-caps;
	font-size: smaller;
	color: silver;
}

.upcoming .evtcat ul
{
	font-size: smaller;
	text-indent: -4px;
	padding-left: 8px;
	list-style-type: none
}

.upcoming .prog
{
	width: 100px;
	height: 5px; 
	background: #ddd; 
	border: solid black 1px;
}

.upcoming .prog .bar
{
	height: 100%; 
	background: #AAA;
}

